node_modules/
.env
.env.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
uploads/

#Extra Files
checkAdmin.js
createAdminProfile.js
fix-email-index.js
fixAdminUser.js
resetAdminPassword.js
testLogin.js
